{
  "environment" : {
    "key"     : "APP_ENVIRONMENT",
    "default" : "develop"
  },
  "url"         : {
    "key"     : "base_URL",
    "default" : ""
  },
  "port"         : {
    "key"     : "APP_PORT"
  },
  "password"    : {
    "key"     : ""
  }
}